# Configuración de la Base de Datos
# Si se usa el docker-compose.yml incluido, estos valores deberían funcionar por defecto
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=cubo_db

# URL de conexión para Prisma
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://user:password@localhost:5432/cubo_db?schema=public"

# Configuración de JWT (para logins)
# TODO: Cambiar esto por una contraseña segura en producción
JWT_SECRET=cambiar_por_algo_seguro
JWT_EXPIRATION=7d



# INSTALACIÓN DE SUPABASE
# npm install @supabase/supabase-js
 SUPABASE_URL=https://gtelrtcunhznrrapfjbj.supabase.co
 SUPABASE_ANON_KEY=sb_publishable_xa-hzca1661p7Q07rX7K4A_b4hvNIIb

JWT_REFRESH_EXPIRATION=30d

SMTP_HOST=stmp.gmail.com
SMPT_PORT=587
SMPT_USER=braulioartico@gmail.com
SMPT_PASS=OQA24iv6B5MT
SMPT_FROM=""