# Configuración de la Base de Datos
# Si se usa el docker-compose.yml incluido, estos valores deberían funcionar por defecto
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password
POSTGRES_DB=game_database

# URL de conexión para Prisma
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://dev_user:dev_password@localhost:5432/cubo_db?schema=public"

# Configuración de JWT (para logins)
JWT_SECRET=cambiar_por_algo_seguro
